@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 255, 255, 255;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(var(--background-color));
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  z-index: 11;
  background-color: rgba(229, 231, 235, 0.75) !important;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
